#currentEcrito{
    display: flex;
    flex-wrap: wrap;

}

.cell{
    border: 1px #1a2874 solid;
    border-radius: 10px;
    padding : 1em;
    margin: 10px;
    width: 300px;
}

.cell p
{
    height: 190px;
    overflow: clip;
}