@font-face {
    font-family: 'Orkney-Regular';
    src: url(font/orkney/orkney-regular.otf);
}

body{
    color:#1a2874;
    font-family: 'Orkney-Regular';
    margin: 0;
    padding: 0;
    min-height: 100vh;
    max-width: 100vw;
    display: grid;
    grid-template-rows: 150px 1fr 200px;
}

#block_page{
    grid-row: 2;
    padding: 5%;
}

/* ------------------------ Login & Sign up ---------------------- */

.fog
{
    position: fixed;
    opacity: 0.5;
    background-color: gray;
    height: 100%;
    width: 100%;
}

#login
{
    position: fixed;
    top: 40vh;
    left: 40vw;
    background-color: white;
    height: 300px;
    width: 300px;
    border-radius: 50px;
    border: #1a2874 solid 1px;
    padding: 2%;
}

.close
{
    position: absolute;
    top : 5%;
    right: 10%;
    color: #1a2874;
    text-decoration: none;
}

/*------------------------- Error -----------------------------------*/

#error
{
position: fixed;
top : 50%;
left : 50%;
transform: translate(-50%,-50%);
background-color: white;
border-radius: 50px;
border: #1a2874 solid 1px;
padding: 2%;
text-align: center;
}