@font-face {
    font-family: 'Orkney-Regular';
    src: url(font/orkney/orkney-regular.otf);
}

body{
    color:#1a2874;
    font-family: 'Orkney-Regular';
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 150px 1fr 200px;
}

#block_page{
    grid-row: 2;
    padding: 5%;
}